table { text-align: center;}
  table, th, td {
  border: 1px solid black;}
header{text-align: center;}
div{margin: 20px;font-size: 20px;color: black;text-align: center;}
body{ background-color: green;}
p {
  text-indent: 40px;
  text-align: justify;}